<div class="container" ng-controller="PostController">
    <form ng-submit="submit()">
        <table st-table="rowCollection" class="table">
            <thead>
                <tr>
                    <th>Boat Length</th>
                    <th>Max Draft</th>
                    <th>Max Beam</th>
                    <th>Power</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rowCollection" contenteditable="true">
                    <td contenteditable="false">{{row.boatLength}}</td>
                    <td>{{row.maxDraft}}</td>
                    <td>{{row.maxBeam}}</td>
                    <td>{{row.power}}</td>
                    <td>{{row.price}}</td>
                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary">
    </form>
</div>