<div class="container" ng-controller="PostController">
    <form ng-submit="submit()">
        <table st-table="rowCollection" class="table">

            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <input class="form-control input-sm" id="ex1" type="number">
                    </th>
                    <th>Max Beam (ft)</th>
                    <th>Power (amp)</th>
                    <th>Price ($)</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Boat Length (ft)</th>
                    <th>Max Draft (ft)</th>
                    <th>Max Beam (ft)</th>
                    <th>Power (amp)</th>
                    <th>Price ($)</th>
                </tr>



            </thead>
            <tbody>
                <tr ng-repeat="row in rowCollection" contenteditable="true">
                    <td>
                        <input type="checkbox" ng-model="string" [name="string" ] [ng-true-value="expression" ] [ng-false-value="expression" ] [ng-change="string" ]>
                    </td>
                    <td contenteditable="false">{{row.boatLength}}</td>
                    <td>{{row.maxDraft}}</td>
                    <td>{{row.maxBeam}}</td>
                    <td>{{row.power}}</td>
                    <td>{{row.price}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <input type="submit" class="btn btn-success" value="Update Availability">
    </form>
</div>